body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/logo-vintage.png");
  background-size: cover;
  font-family: monospace;
  
}

.app {
  height: 80vh;
  display: flex;
  align-items: center; 
  flex-direction: column;
  justify-content: center;  
}

.game-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

h1 {
  font-size: 3rem;
  margin: 1rem;
  color: white;
}

button {
  font-family: inherit;
  color: white;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  margin: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #191f25;
  cursor: pointer;
}

.hidden {
  display: none;
}